*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100%;
    width: 100%;
    background-color: #F6F5F1;
    overflow-x: hidden;
}
h1{
    text-align: center;
    margin-top: 1%;
    font-weight: bold;
    font-size: 3rem;
}
h1 span{
    color: orange;
}
.tabButtons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.btn{
    padding: 5px 30px;
    margin-right: 0.5%;
    border: 1px solid orange;
    color: orange;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 3px;
}
.active, .btn:hover, .submitBtn:hover{
    background-color:orange;
    color: white;
    transition: .3s;
}
.form{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
form input{
    margin-bottom: 5px;
    border: none;
    background-color: white;
    width: 250px;
    height: 25px;
    color: orange;
    border-radius: 20px;
    margin-top: 5%;
    padding-left: 5px;
    padding-bottom: 4px;
}
form input[type="file"]{
    background-color: inherit;
    padding-top: 1px;
    padding-left: 7px;
}
form a{
    text-decoration: none;
    color: orange;
    font-size: 12px;
}
.submitBtn{
    margin-top: 6%;
    padding: 3px 10px;
    border-radius: 25px;
    border: orange 1px solid;
    color: orange;
    cursor: pointer;
}
#register{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .5s ease;
}
#login{
    opacity: 1;
    transition: visibility 0s, opacity .5s ease;
}
.logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: .1s ease;
}
.logo{
    text-align: center;
}
.logo h3{
    margin-top: 5%;
}
.logo img{
    width: 10%;
}

/*the landing page styles */

.landing-page{
    width: 100%;
    height: 100vh;
    display: flex;
    
}

.first-Part{
    width: 25%;
    height: 100%;
    margin-top: 2%;
}
.profile{
    background-image: linear-gradient(to right,#E8E8E6,#D7CFBD);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 80%;
    padding-bottom: 12%;
}
.profile img{
    width: 50%;
    margin-top: 20%;
    border-radius: 25px;
}
.profile img, .profile p, .profile h3{
    margin-left: 25%;
}
.board{
    margin-top: 5%;
    margin-left: 21%;
}
.row-Container{
    display: flex;
    align-items: center;
    margin-top: 5%;
}
.row-Container h3{
    background-color: orange;
    padding: 4px 6px;
    color: white;
    border-radius: 10px;
}
.row-Container p{
    margin-left: 3%;
    line-height: 15px;
    font-weight: bold;
}
.row-Container i{
    width: 35px
}
.row-Container a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 2%;
}
.row-Container a:hover{
    text-decoration: underline;
}

.row-Container h2{
    margin-top: 5%;
    font-size: 1.5rem;
}
.row-Container img{
    width: 40%;
}
.second-part{
    width: 75%;
    height: 100%;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second-part-nav{
    display: flex;
    align-items: center;
    width: 50%;
    margin-top: 3%;
    position: relative;
}
.second-part-logo{
    width: 50%;
    display: flex;
    justify-content: start;
}
.search{
    background-color: white;
    padding: 0 10px;
    border-radius: 25px;
    width: 40%;
}
.search input{
    height: 40px;
    width: 85%;
    border: none;
    border-radius: 25px;
}
.search input:focus{
    outline: none;
}
.search button{
     background-color: inherit;
     border: none;
     cursor: pointer;
}
.second-part-nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 4%;
    position: relative;
}
.second-part-nav a span{
    color: orange;
    font-size: 30px;
    position: absolute;
    bottom: 7px;
}
.second-part-nav a:hover{
    text-decoration: underline;
}
.second-part-nav button{
    background-color: inherit;
    border: none;
    cursor: pointer;
    margin-left: 4%;
    position: relative;
}
.dots{
    
    position: relative;
    display: flex;
    margin-bottom: 16px;
}
.dot1, .dot2{
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
    position: relative;
}
.dot2{
    margin-left: 10px;
}
.dot1::before, .dot2::before{
    content: '';
    position: absolute;
    left: 0;
    margin-top: 13px;
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
}
.second-body{
    width: 100%;
}
.second-body{
    margin-top: 1%;
}
.first-row{
    width: 100%;
    position: relative;
}
.scrollable{
    width: 100%;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.scrollable::-webkit-scrollbar{
    display: none;
}
.first-row ul{
    list-style: none;
    margin-top: 10%;
    width: 160%;
    display: inline-flex;
    justify-content: space-between;
    overflow-x: visible;
    overflow-y: visible;
}
.first-row ul li{
    width: 30%;
    height: 120px;
    border-radius: 25px;
    margin-right: 1%;
}
.imgCard{
    position: absolute;
    border-radius: 25px;
    width:30%;
    height: 120px;
    background-size: cover;
}
.card{
    position: absolute;
    border-radius: 25px;
    width:30%;
    height: 120px;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.404);
    
}
.nextBtn{
    position: absolute;
    right: 1%;
    top: 65%;
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.322);
    border: 3px white solid;
}
.prevBtn{
    position: absolute;
    left: 1%;
    top: 65%;
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.322);
    border: 3px white solid;
    display: none;
}
.fa.fa-arrow-right, .fa.fa-arrow-left{
    font-size: 30px;
}
.book-read{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 25px;
}
.book-read img{
    width: 35%;
    position: absolute;
    left: 5%;
    bottom: 45%;
    border-radius: 15px;
}
.book-read h3{
    margin-top: 45px;
}
.book-read h3, .book-read p{
    margin-left: 43%;
    color: white;
}
.second-row{
    display: flex;
    width: 100%;
    margin-top: 3%;
}
.first-column{
    width: 65%;

}
.book-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow: auto;
    margin-top: 3%;
}
.book-info{
    margin-top: 3%;
    margin-right: 3%;
    width: auto;
}
.book-info img{
    width: 80%;
    border-radius: 15px;
}
.book-info h3{
    height: 50px;
}
.book-info h3, .book-info p{
    margin-top: 3%;
}
.book-info button{
    border: none;
    margin-top: 2%;
    padding: 3px 10px;
    border-radius: 25px;
    cursor: pointer;
}
.second-column{
    width: 30%;
    background-image: linear-gradient(to right, #ECE8E5, #ECECEC);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    margin-left: 5%;
}
.author-row{
    display: flex;
    align-items: center;
}
.author-row img{
    width: 15%;
    border-radius: 50%;
}
.author-details{
    margin-left: 3%;
}
.author-details a{
    font-weight: bold;
    cursor: pointer;
}
.author-details a:hover{
    text-decoration: underline;
}
.author-row, .second-column h5{
    margin-left: 15%;
    margin-top: 5%;
}
.second-column h5{
    margin-top: 8%;
}
#logErrMsg, #regErrMsg{
     color: red;
}
.menuBtn{
    display: none;
}
.sideMenuBtn{
    display: none;
}
#check{
    display: none;
}

@media screen and (max-width: 1670px){
    
    .first-row ul li::-webkit-scrollbar{
        display: none;
    }
    .book-read h3{
        margin-top: 10%;
    }
    .second-part-logo h1{
        font-size: 40px;
    }
}
@media screen and (max-width: 1117px){

    
    .second-part-logo h1{
        font-size: 30px;
    }
    body{
        overflow-y: scroll;
    }
    .book-read h3{
        font-size: 16px;
    }
    .book-read p{
        font-size: 12px;
    }
    

}
@media screen and (max-width: 1000px){
    .book-read img{
        width: 80%;
        position: static;
        left: 5%;
        border-radius: 15px;
    }
    .book-read h3, .book-read p{
        margin-left: 3%;
        color: white;
        display: none;
    }
    .imgCard, .card{
        display: none;
    }
    .first-row ul li{
        background-color: inherit;
    }
    .search{
        background-color: none;
        width: auto;
    }
    .search input{
        display: none;
        
    }
    .search input:focus{
        outline: none;
    }
    .search button{
         border: none;
         cursor: pointer;
    }
}

@media screen and (max-width: 684px){
    .menuBtn{
        display: block;
    }
    .second-part-nav a, .dotBtn{
        display: none;
    }
    .second-part-logo h1{
        font-size: 20px;
    }
    .book-read img{
        width: 100%;
        position: static;
        left: 5%;
        border-radius: 15px;
    }
    .imgCard, .card{
        display: none;
    }
    .profile{
        display: none;
        position: absolute;
        z-index: 1;
    }
    .book-list{
        display: inline;
        overflow: scroll;
    }
    .board{
        display: none;
        position: absolute;
        z-index: 1;
        bottom: 35%;
        background-color: white;
    }
    .bottom{
        display: none;
    }
    .fa.fa-bars, .fa.fa-times{
        font-size: 25px;
    }
    .sideMenuBtn{
        display: block;
        margin-left: 25%;
        cursor: pointer;
    }
    #check:checked ~.profile{
        display: block;
    }
    #check:checked ~.board{
        display: block;
    }
    #check:checked #open{
        display: none;
    }
    
    .second-row{
        display: inline;  
    }
    .second-column{
        width: 100%;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        margin-left: 0%;
    }
}
.popup{
    
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.651);
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.searchedContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: white;
}
.popup .show {
    display: grid;
}

.popup button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.fa.fa-times{
    font-size: 25px;
    color: white;
}
.searchedbook{
      width: 58%;
      margin-left: 7%;
      margin-top: 2%;
}
.searchedbook img{
      width: 100%;
}
.searchedbook h3, .searchedbook p{
    color: white;
}
.suggestions{
    position: absolute;
    height: 100%;
    width: 40%;
    margin-top: 2%;
    background-color: white;
    z-index: 1;
    display: none;
}